NEXT_PUBLIC_APP_NAME="SushiSwap Analytics"
NEXT_PUBLIC_APP_URL="https://sushiswapanalytics.com"
NEXT_PUBLIC_APP_DESCRIPTION="Analytics for the SushiSwap protocol"
NEXT_PUBLIC_APP_KEYWORDS="sushiswap, uniswap"
NEXT_PUBLIC_THE_GRAPH_API_KEY=
