/* Nice on darkmode */
/* body {
background-color: #fafafa;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23bdbdbd' fill-opacity='0.05'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
} */

body {
  overflow-x: hidden;
}

/* DARK */

.dark-theme body,
.dark-theme .MuiInputBase-root,
.dark-theme .MuiPaper-root {
  background: #050709;
  color: #fff;
}

.dark-theme .MuiAppBar-root {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.dark-theme .MuiAppBar-colorTransparent {
  color: inherit;
  background-color: transparent;
}

.dark-theme .MuiPaper-root {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.dark-theme .MuiPaper-outlined {
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.dark-theme .MuiFormLabel-root {
  color: rgba(255, 255, 255, 0.7);
}

.dark-theme .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.23);
}

.dark-theme .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
}

.dark-theme .MuiDrawer-paperAnchorDockedLeft {
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.dark-theme .MuiListItem-root.Mui-selected,
.dark-theme .MuiListItem-root.Mui-selected:hover {
  background-color: rgba(255, 255, 255, 0.16);
}

.dark-theme
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #b93cf6;
  border-width: 2px;
}

.dark-theme .MuiTableCell-head {
  color: #fff;
}

.dark-theme .MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: #fff;
}

.dark-theme .MuiTableCell-root {
  border-bottom: 1px solid rgba(81, 81, 81, 1);
}

.dark-theme .MuiTableCell-body {
  color: #fff;
}

.dark-theme .MuiTablePagination-root {
  color: #fff;
}

.dark-theme .MuiIconButton-root.Mui-disabled {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.dark-theme .MuiSelect-icon {
  color: #fff;
}

.dark-theme .MuiTypography-colorTextPrimary {
  color: #fff;
}

.dark-theme .MuiTypography-colorTextSecondary {
  color: rgba(255, 255, 255, 0.7);
}

.dark-theme
  .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active
  .MuiTableSortLabel-icon {
  color: rgba(255, 255, 255, 0.7);
}

.dark-theme .MuiIconButton-root {
  color: #fff;
}

.dark-theme .MuiIconButton-root:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.dark-theme .MuiToggleButton-root {
  border: 1px solid rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.38);
}

.dark-theme .MuiToggleButton-root.Mui-selected {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.12);
}

.dark-theme .MuiListItemIcon-root {
  color: #fff;
}

.MuiInputBase-root {
  background-color: #fff;
}

/* ITB */

/* FONT */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"); */

.widget-container .itb-widget * {
  /* font-family: "Inter", sans-serif; */
  max-width: none;
}

.widget-container .itb-widget {
  min-width: unset;
}

/* CARDS */
.widget-container .charts-container .itb-widget .defi-card {
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px; */
  box-shadow: none;
  border-radius: 8px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.widget-container .itb-widget .defi-card .tab-option {
  font-weight: 500;
  width: fit-content;
  white-space: nowrap;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: none;
}

.widget-container .itb-widget .defi-card .tab-option.active {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: none;
}

.widget-container {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* padding: 30px 0; */
}
.widget-container .charts-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.widget-container .charts-container [data-target="itb-widget"] {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  box-sizing: border-box;
}
.widget-container .charts-container [data-target="itb-widget"].full-width {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.not-supported {
  padding: 40px 0;
  text-align: center;
  font-size: 20px;
  font-family: "Inter";
}

/* NIGHT MODE */
.dark-theme .widget-container .charts-container .itb-widget .defi-card {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: none;
  background: transparent;
}
.dark-theme .widget-container .itb-widget .defi-card .card-title {
  color: #fff;
}
.dark-theme .widget-container .itb-widget .defi-card .tab-option {
  border: 1px solid rgba(255, 255, 255, 0.12);
  color: #fff;
}
.dark-theme .widget-container .itb-widget .defi-card .tab-option.active {
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: none;
}

.dark-theme .not-supported {
  color: white;
}
.dark-theme .widget-container .not-supported {
  border: 1px solid rgb(64, 68, 79);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px;
  background: transparent;
  color: rgb(250, 250, 250);
}

.dark-theme .itb-widget svg text {
  fill: #fff !important;
}

.dark-theme .itb-widget .highcharts-legend-item text {
  fill: #fff !important;
}

.dark-theme .itb-widget .highcharts-legend-item text:hover {
  fill: #fff !important;
}

.dark-theme .highlight-container .text-container {
  color: #fff !important;
}

.highlight-container .title {
  border-bottom: 2px solid #b93cf6 !important;
}

.dark-theme .highlight-container .title {
  color: #fff !important;
}

.itb-widget .see-more-link a.call-to-action {
  background: #b93cf6 !important;
}

.itb-widget .defi-card .button {
  color: #b93cf6 !important;
  border: 1px solid #b93cf6;
  background: transparent;
}

.itb-widget .button:hover {
  color: white !important;
  background: #b93cf6 !important;
}

.itb-widget .powered-by .logo {
  fill: #b93cf6 !important;
}

.itb-widget .powered-by .text {
  color: white !important;
}
